# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
#from Config import api_key
from Config import gkey

In [3]:
api_key = gkey

AIzaSyAd7n6Dnqjj-Egjv-AjVD5qE8t5fK__pX4

In [4]:
!pip install citipy

Requirement already satisfied: citipy in c:\users\coset\anaconda3\envs\pythondata\lib\site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in c:\users\coset\anaconda3\envs\pythondata\lib\site-packages (from citipy) (0.16)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
cities_path="../cities.csv"
cities_df=pd.read_csv(cities_path)
cities_df.head

<bound method NDFrame.head of               Name    lat     lng  Max Temp  Humidity  Cloudiness  Wind Speed  \
0            Korla  41.76   86.15     55.00        43          99        4.00
1    Prince George  53.92 -122.75     30.20        74           1        5.82
2        Tuatapere -46.13  167.68     53.01        66          95        7.00
3        Mahébourg -20.41   57.70     66.20        93          75        3.36
4          Ushuaia -54.80  -68.30     42.80        81          40        9.17
..             ...    ...     ...       ...       ...         ...         ...
554          Umluj  25.02   37.27     82.92        42           0        9.62
555        Rāichūr  16.20   77.37     78.08        77          79        8.79
556        Wanning  18.80  110.40     79.77        84          98       21.65
557       La Unión  -5.40  -80.75     67.46        72          91        8.99
558        Zambezi -13.54   23.10     67.37        43           0        8.30

    Country        Date hemisphere
0        CN  10/17/2020      north
1        CA  10/17/2020      north
2        NZ  10/17/2020      South
3        MU  10/17/2020      South
4        AR  10/17/2020      South
..      ...         ...        ...
554      SA  10/17/2020      north
555      IN  10/17/2020      north
556      CN  10/17/2020      north
557      PE  10/17/2020      South
558      ZM  10/17/2020      South

[559 rows x 10 columns]>

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
locations=cities_df[["lat","lng"]]
ratings=cities_df["Humidity"]
max_humidity=ratings.max()

In [7]:
gmaps.configure(api_key=gkey)
fig=gmaps.figure(center=(0,0), zoom_level=3)
heat_layer=gmaps.heatmap_layer(locations, weights=ratings,
                              dissipating=False, max_intensity=max_humidity,
                              point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
vacation_df=cities_df.copy()
vacation_df=vacation_df.loc[~(vacation_df["Max Temp"]<80) & (vacation_df["Cloudiness"]<30) & (vacation_df["Wind Speed"]<5)]
vacation_df

,Name,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,hemisphere
131,Porto Nacional,-10.71,-48.42,80.60,78,20,3.36,BR,10/17/2020,South
212,Léogâne,18.51,-72.63,80.60,83,9,4.54,HT,10/17/2020,north
296,Bīrpur,26.52,87.02,82.53,67,0,1.30,IN,10/17/2020,north
316,Kokrajhar,26.40,90.27,82.67,69,8,3.29,IN,10/17/2020,north
332,Isla Mujeres,21.23,-86.73,82.40,78,20,3.36,MX,10/17/2020,north
341,Qandala,11.47,49.87,80.58,54,0,3.00,SO,10/17/2020,north
380,Brebes,-6.87,109.04,86.86,56,5,3.09,ID,10/17/2020,South
421,Tāndā,26.55,82.65,80.60,47,0,4.03,IN,10/17/2020,north
440,Ouro Sogui,15.61,-13.32,87.35,27,0,3.51,SN,10/17/2020,north
472,Pringsewu,-5.36,104.97,86.67,64,17,2.95,ID,10/17/2020,South
533,Ndioum,16.51,-14.65,90.28,21,0,0.67,SN,10/17/2020,north
551,Barão de Melgaço,-16.19,-55.97,89.60,46,7,1.12,BR,10/17/2020,South

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
vacation_df["Hotel Name"]= ""
vacation_df["Hotel City"]=""
vacation_df.head()

,Name,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,hemisphere,Hotel Name,Hotel City
131,Porto Nacional,-10.71,-48.42,80.60,78,20,3.36,BR,10/17/2020,South,,
212,Léogâne,18.51,-72.63,80.60,83,9,4.54,HT,10/17/2020,north,,
296,Bīrpur,26.52,87.02,82.53,67,0,1.30,IN,10/17/2020,north,,
316,Kokrajhar,26.40,90.27,82.67,69,8,3.29,IN,10/17/2020,north,,
332,Isla Mujeres,21.23,-86.73,82.40,78,20,3.36,MX,10/17/2020,north,,

In [10]:

for index, row in vacation_df.iterrows():
    lat = row["lat"]
    lng = row["lng"]
    search_type = "lodging"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    
    params = {
        "location": f"{lat},{lng}",
        "radius":5000,
        "type": search_type,
        "key": gkey
    }
    
    #print(f"Retrieving Results for Index {index}.")
    response = requests.get(base_url, params=params)
    hotel_places = response.json()
    #print(json.dumps(hotel_places, indent=4,sort_keys=True))

   
    
    try:
        print("The closest hotel is:")
        print(hotel_places["results"][0]["name"])
        print("In the city of:")
        print(hotel_places["results"][0]["vicinity"])
        vacation_df.loc[index, 'Hotel Name']=hotel_places['results'][0]['name']
        vacation_df.loc[index, 'Hotel City']=hotel_places['results'][0]['vicinity']
      
        
    except:
        print("Missing field/result... skipping.")
        
    print("------------")

The closest hotel is:
Vila Real Hotel
In the city of:
Viela Vinte e Um, 10 - Setor Aeroporto, Porto Nacional
------------
The closest hotel is:
Family Health Ministries Guest House
In the city of:
Route Nationale 2
------------
The closest hotel is:
Maa Sherawali Sweet Content
In the city of:
Birpur
------------
The closest hotel is:
BARBI HOTEL
In the city of:
Tengapara, Kokrajhar
------------
The closest hotel is:
Hotel La Joya Isla Mujeres
In the city of:
Secc. F Mz 43 L20 Carretera Garrafon Fracc Mar Turquesa
------------
The closest hotel is:
Missing field/result... skipping.
------------
The closest hotel is:
Grand Dian Brebes
In the city of:
Jalur, Jalan Jendral Sudirman No.20, Kaumanpasar, Brebes
------------
The closest hotel is:
MUMTAZ GANJ TANDA
In the city of:
Tanda - Kalwari Road, Chhajjapur, Tanda
------------
The closest hotel is:
Auberge Sogui
In the city of:
N2, Ourossogui
------------
The closest hotel is:
Urban Style by Front One
In the city of:
Jalan Jend. Ahmad Yani No.999, Pringsewu Utara
------------
The closest hotel is:
l'hôtel samassa
In the city of:
Ndioum
------------
The closest hotel is:
Tuiuiu Pantanal Hotel
In the city of:
Rua Augusto Leverger - Chacororé, Barão de Melgaço
------------

In [11]:
vacation_df["Hotel Country"]=vacation_df["Country"]
vacation_df.head()

,Name,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,hemisphere,Hotel Name,Hotel City,Hotel Country
131,Porto Nacional,-10.71,-48.42,80.60,78,20,3.36,BR,10/17/2020,South,Vila Real Hotel,"Viela Vinte e Um, 10 - Setor Aeroporto, Porto ...",BR
212,Léogâne,18.51,-72.63,80.60,83,9,4.54,HT,10/17/2020,north,Family Health Ministries Guest House,Route Nationale 2,HT
296,Bīrpur,26.52,87.02,82.53,67,0,1.30,IN,10/17/2020,north,Maa Sherawali Sweet Content,Birpur,IN
316,Kokrajhar,26.40,90.27,82.67,69,8,3.29,IN,10/17/2020,north,BARBI HOTEL,"Tengapara, Kokrajhar",IN
332,Isla Mujeres,21.23,-86.73,82.40,78,20,3.36,MX,10/17/2020,north,Hotel La Joya Isla Mujeres,Secc. F Mz 43 L20 Carretera Garrafon Fracc Mar...,MX

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Name}</dd>
<dt>Country</dt><dd>{Hotel Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations =vacation_df[["lat", "lng"]]
#ratings=vacation_df[["Humidity"]].astype(float)

In [13]:
# Add marker layer ontop of heat map
figs=gmaps.figure(zoom_level=.5, center=(20,30))
markers=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
#heat_layer=gmaps.heatmap_layer(locations, weights=ratings, dissipating=False, max_intensity=100, point_radius=1.5)
fig.add_layer(heat_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))